apiVersion: v1
kind: Namespace
metadata:
  name: ex1-3
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
  namespace: ex1-3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
        - name: app
          image: kuzn2k/ex1.1-log-output:1.0.0
