apiVersion: apps/v1
kind: Deployment
metadata:
  name: broadcaster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: broadcaster
  template:
    metadata:
      labels:
        app: broadcaster
    spec:
      containers:
        - name: broadcaster
          image: PROJECT/BROADCASTER
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "5m"
              memory: "25Mi"
            limits:
              cpu: "150m"
              memory: "50Mi"
          livenessProbe:
            initialDelaySeconds: 10
            periodSeconds: 15
            timeoutSeconds: 5
            httpGet:
              path: /healthz
              port: 8080
          readinessProbe:
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            httpGet:
              path: /readyz
              port: 8080
          env:
            - name: NATS_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: nats_url
            - name: NATS_SUBJECT
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: nats_subject
            - name: NATS_QUEUE
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: nats_queue
            - name: TELEGRAM_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: todo-app-secret
                  key: telegram_bot_token
            - name: TELEGRAM_CHAT_ID
              valueFrom:
                secretKeyRef:
                  name: todo-app-secret
                  key: telegram_chat_id
          ports:
            - name: health
              containerPort: 8080
