apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: app
          image: PROJECT/BACKEND
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "5m"
              memory: "25Mi"
            limits:
              cpu: "150m"
              memory: "50Mi"
          readinessProbe:
            initialDelaySeconds: 10
            periodSeconds: 5
            httpGet:
               path: /healthz
               port: 3000          
          env:
            - name: PORT
              value: "3000"
            - name: TODOS_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: todos_url
            - name: DB_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: db_url
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: db_port
            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: db_user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: todo-app-secret
                  key: db_password
            - name: DB_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: db_database
            - name: NATS_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: nats_url
            - name: NATS_SUBJECT
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: nats_subject
          ports:
            - name: todo-bc-port
              containerPort: 3000
